.Container {
    max-width: 60rem;
    margin: 3rem auto 0;
    font-family: Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    
    h1 {
      color: #333;
      margin-bottom: 15px;
      font-size: 48px;
      line-height: 1.25;
    }
    
    p {
      color: #36313d;
    }
  }